* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #222;
    font-family: 'Poppins', sans-serif;
}


/*navbar*/

nav {
    width: 100%;
    background: #333;
    padding: 1.2rem;
}

nav ul {
    width: 100%;
    overflow: hidden;
    list-style-type: none;
}

nav a {
    width: 100%;
    padding: 1rem;
    display: inline-block;
    color: #fff;
    text-decoration: none;
    transition: background .5s;
}

nav li {
    display: inline-block;
}

nav li:hover {
    border-radius: 5px;
    background: #222;
}


/*header*/

header .bg-img {
    position: absolute;
    background-image: url(../img/books.svg);
    background-size: cover;
    background-position: center;
    height: 80vh;
    width: 100%;
    opacity: 0.2;
    z-index: -1;
    overflow: hidden;
}

.container {
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    width: 100%;
    font-size: 2rem;
    padding-top: 5rem;
    color: #fff;
    display: flex;
    flex-direction: column;
}

.content h1 {
    text-align: center;
}

.content p {
    text-align: center;
    padding-top: 15px;
    font-size: 1.2rem;
}

.buttons {
    text-align: center;
    padding-top: 15px;
}

.buttons button {
    width: 200px;
    font-weight: bold;
    border-radius: 100px;
    font-size: 20px;
    padding: 1rem;
    background: none;
    color: #fff;
    border: 5px solid #333;
    transition: all .5s ease;
}

.buttons button:hover {
    background: #333;
    box-shadow: 0 0 20px white;
}

@media screen and (max-width: 400px) {
    nav a {
        font-size: 8px;
    }
    .content {
        padding-top: 0;
        font-size: 1rem;
    }
    .content p {
        padding-top: 0;
        width: 400px;
        text-align: center;
        font-size: .9rem;
    }
    .buttons button {
        margin-top: 15px;
    }
}